@{
    ViewData["Title"] = "ImageSave";
}

<h1>Image Save</h1>

<form action="ImageSave" enctype="multipart/form-data" method="post">

    <input type="file" name="file">

    <button type="submit">Resim Kaydet</button>

</form>